.brochure-hero {
    background-image: url('../assets/Brochure_Page_Bg.avif');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 4px solid #103f8e;
}
  
.brochure-hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}
  
.brochure-hero-title {
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, #103f8e 0%, #ed1d25 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.pixel-text-smooth {
    animation: smoothPixelIn 1s ease-out forwards;
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.95);
}
  
@keyframes smoothPixelIn {
    0% {
      opacity: 0;
      filter: blur(8px);
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
}

.brochure-summary {
    text-align: center;
    max-width: 1000px;
    margin: 0px auto 0px auto;
    padding: 20px 15px 0px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #103f8e;
}
  
.brochure-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 700;
    color: #103f8e;
    font-family: 'Roboto Slab', serif;
}

.brochure-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
  
.brochure-image {
    width: 85%;
    max-width: 550px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.catalogue-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

.catalogue-image {
    width: 85%;
    max-width: 550px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.catalogue-image-2 {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .catalogue-image-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .catalogue-image {
        width: 45%;
    }

    .catalogue-image-2 {
        margin-left: 10px;
        margin-top: 0px;
    }
}
  
.download-btn-container, .download-btn-container-catalogue {
    margin-top: 25px;
}

.download-btn-container-catalogue {
    margin-bottom: 20px;
    text-align: center;
}
  
.download-brochure-btn {
    background-color: #103f8e;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.download-brochure-btn:hover {
    background-color: #0b2c66;
    text-decoration: none;
    color: white;
}
