footer {
    background: linear-gradient(180deg, #ed1d25 0%, #103f8e 100%);
    padding: 20px 10px;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  footer {
    font-size: 1rem;
  }
}

/* Small screens (phones) */
@media (max-width: 480px) {
  footer {
    font-size: 1rem;
  }
}
  
.footer-link a {
  color: #1a1a1a;
  transition: color 0.5s linear;
  text-decoration: none;
}
  
.footer-link a:hover {
  color: rgba(255, 255, 255, 1) !important;
  text-decoration: none !important;
}

.footer-link.active {
  font-weight: bold;
  color: white !important;
}

.footer-email, .footer-location {
  color: rgba(255, 255, 255, 1);
  text-decoration-line: underline;
  transition: color 0.4s linear;
}

.footer-email:hover, .footer-location:hover {
  color: #1a73e8;
}
  